div {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

button {
  border: none;
}

textarea {
  background: snow;
  padding: 0;
  outline: none;
  font: inherit;
  min-height: 2em;
  width: inherit;
  resize: vertical;
}
